.swiperOnMain {
  height: 400px;
}

.swiperBulletOnMain {
  width: 15px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  transition: 0.20s all linear;
}

.swiperOnMainActive {
  width: 25px;
}