.header {
  padding: 22px 0;
  background: #fff;
  border-bottom: 1px solid #EDF1F6;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  width: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #0E284F;
    &:first-child {
      margin-bottom: 5px;
    }
  }
}

.nav {
  ul {
    display: flex;
    li {
      margin-left: 35px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}