.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  ul {
    display: flex;
    li {
      margin-left: 35px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.header {
  padding: 20px 0;
  box-shadow: 0 2px 12px rgb(0 0 0 / 15%);
}

.search {
  cursor: pointer;
}